body {
    background: linear-gradient(#cdb4db, white);
    font-family: 'Titillium Web', sans-serif;
}
button{
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
    border: 1.5mm outset #a2d2ff;
    background-color: #cdb4db;
    margin: 2px;
    border-radius: 20px;
}
button:hover {
    background-color: #a2d2ff;
}

button:active {
    background-color: #a2d2ff;
}
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.clear {
    grid-column-start: 1;
    grid-column-end: 3;
}
.equals {
    grid-column-start: 3;
    grid-column-end: 5;
}
.display {
    background-color: #ffafcc;
    color: black;
    border: 1.5mm outset #a2d2ff;
    border-radius: 20px;
    margin: 2px;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 5px;
    min-height: 150px;
}
.welcome{
    font-size: 2.5rem;
    padding-bottom: 50px;
}
.result {
    font-size: 2.5rem;
    flex-wrap: wrap;
    display: inline-flex;
}
.output {
    font-size: 2rem;
}